<section class="button">
  <section class="flex flex-col justify-between items-center md:w-2/6 p-8 order-1">
    <p class="p-4">{{button_text}}</p>
        <p>
            <a class="p-4 ml-5 border-blue-300 bg-blue-300 rounded full py-3 px-6 flex flex-row items-center justify-start my-1" href="{{button_uri}}">Comprar</a>
        </p>
        <p>
            <a class="p-4 border-red-300 bg-red-300 rounded full py-3 px-6 flex flex-row items-center justify-start my-1">L.100</a>
        </p>  
  </section>
</section>